.root{
    -fx-focus-color: #FFCC00;
    -fx-font-family: Chalkboard, Comic Sans MS;
    -fx-background-image: url('gird.jpg');
}


#titleLabel{
 -fx-font-size: 70;
}

#startt {
  -fx-background-color: yellow;
  -fx-text-fill: black;
}

#tButton {
  -fx-background-color: red;
  -fx-text-fill: white;
}